*{
    margin: 0;
    padding: 0;
}
#first{
    height: 80px;
    width: 250px;
    background-color: red;
    font-size: 20px;
}
/* background image property */
#icon{
    height: 300px;
    width: 300px;
    background-image: url('Myntra-Logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    /* background: hotpink url('Myntra-Logo.jpg')  no-repeat center; */
}
#box1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    visibility: hidden;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: yellow;
}