*{
    margin: o;
    padding: 0;
}
#first{
    background-color: red;  
    color: black;
}
#second{
    background-color: green;
}
#button{
    background-color: blue;
    color: black ;
}
/* rgb color model */
#third{
    background-color: rgb(120, 34, 50);
}
/* hex  color model */
#fourth{
    background-color: #12c3bd;
}
/* alpha model */
#fifth{
    background-color: rgba(255, 0, 0, 0.3);
}
/* pixels */
.hello{
    margin: 10px;
    font-size: 20px;
}